################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ICH-Assist/ICH-Assist/Content/ICH-LBot
