
@{
    ViewBag.Title = "Index";
}

<h3>add processing text</h3>


<div>
    <form action="Home/Process" method="post" id="inputForm">
        @*<input class="inputTextBox" type="text" name="para" id="paraInputText"><br><br>*@
        <textarea class="inputTextBox" type="text" name="para" id="paraInputText"></textarea><br /><br />
        <input class="inputTextBox" type="text" name="question" id="questionInputText"><br>
    </form>
    <br />
    <button type="submit" form="inputForm" value="Submit" class="processButton">Submit</button>
</div>
<div id="summaryText">

</div>

