
@{
    ViewBag.Title = "Index";
}

<h3>add processing text</h3>


<form action="Home/Process" method="post" id="inputForm">
    <input class="inputTextBox" type="text" name="para" id="paraInputText" ><br><br>
    @*<input type="text" name="question" id="questionInputText"><br>*@
</form>

<button type="submit" form="inputForm" value="Submit" class="processButton">Submit</button>