
@{
    ViewBag.Title = "Process";
}

<h2>Process</h2>

<p>
    <b>Summary : </b> <br />
   @ViewBag.SummarizedData.ToString()
</p>
<br /><br />

@Html.Hidden("OriginalData", (string)ViewBag.OriginalMessage();
@*<p>
    <b>Summary : </b><br />
    @ViewBag.SummarizedData
</p>*@
<br /><br />