@*@string para*@
@{
    ViewBag.Title = "Process";
}

<h2>Process</h2>

<p>
    <b>Summary : </b> <br />
   @ViewBag.SummarizedData.ToString()
</p>
<br /><br />
<input type="hidden" id="OriginalData" name="OriginalData" value=@para>

@*<p>
    <b>Summary : </b><br />
    @ViewBag.SummarizedData
</p>*@
<br /><br />