@model ICH_Assist.Models.DataModel

@{
    ViewBag.Title = "ProcessResult";
}

<h2>Processed result</h2>


<p>
    <b>Summary : </b> <br />
    @Model.StructuredData;
</p>
<br /><br />
@Html.Hidden("OriginalData", Model.UnstructuredData)

<p>
    <b>Original Document : </b><br />
    @Model.UnstructuredData;
</p>

<br /><br />

<div>
    @*<iframe src='https://webchat.botframework.com/embed/AssistBot04?s=z85vKvcICC4.cwA.pRw.Odiz_cGlD3fNEO7nbvjasA1RDKGVP7vexr2tahnY-K0' style='min-width: 300px; width: 30%; min-height: 300px;'></iframe>*@
<iframe src='https://webchat.botframework.com/embed/AssistBot04?s=z85vKvcICC4.cwA.pRw.Odiz_cGlD3fNEO7nbvjasA1RDKGVP7vexr2tahnY-K0' class="k-chat .k-message.k-state-selected k-bubble"></iframe>
    </div>

