
@{
    ViewBag.Title = "ProcessQuery";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<p><b> Answer : </b></p><br />
<p>@ViewBag.Message</p>

<div style="text-align:center">
    <img src="https://cdn-images-1.medium.com/max/1200/1*fZsdZisozTZbM6AaPQKI4Q.gif" height="250px" width="250px" />
</div>