body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
    height: 30px;
}

.floatRight {
    float: right;
    margin-left: 20px;
}

.floatRightMiddle {
    height: 30px;
    width: 40px;
    border: 1px solid #ff0000;
    display: table-cell;
    vertical-align: middle;
}

.inputTextBox {
    border: 1px solid #456879;
    border-radius: 10px;
    height: 20px;
    width: 230px;
    background: transparent url('images/bg.jpg') no-repeat;
    color: #747862;
    padding: 4px 8px;
    margin-bottom: 0px;
}

.processButton {
    font-family: 'arial black';
    color: #14396A !important;
    font-size: 12px;
    text-shadow: 1px 1px 0px #7CACDE;
    box-shadow: 1px 1px 1px #BDE1F7;
    padding: 10px 25px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    border: 1px solid #3866A3;
    background: #63B8EE;
    background: linear-gradient(top, #0CA3EE, #0C6ECF);
    background: -ms-linear-gradient(top, #0CA3EE, #0C6ECF);
    background: -webkit-gradient(linear, left top, left bottom, from(#0CA3EE), to(#0C6ECF));
    background: -moz-linear-gradient(top, #0CA3EE, #0C6ECF);
}

    .processButton:hover {
        color: #14396A !important;
        background: #468CCF;
        background: linear-gradient(top, #5FADCF, #4D3CEE);
        background: -ms-linear-gradient(top, #5FADCF, #4D3CEE);
        background: -webkit-gradient(linear, left top, left bottom, from(#5FADCF), to(#4D3CEE));
        background: -moz-linear-gradient(top, #5FADCF, #4D3CEE);
    }

.element {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.inline-main {
    margin-left: 250px;
    margin-right: 200px;
    margin-top: 80px;
    border: solid;
    -moz-border-radius: 0 0 10px 10px;
    -webkit-border-radius: 0 0 10px 10px;
    border-radius: 0 0 10px 10px;
    border: 1px solid gray;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}


.bg {
    /*background-image: url("https://www.xmple.com/wallpaper/white-blue-gradient-linear-1920x1080-c2-add8e6-f0fff0-a-120-f-14.svg");*/
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
}

.testbutton {
  font-family: arial;
  font-weight: bold;
  color: #0D0D0D !important;
  font-size: 14px;
  text-shadow: 1px 1px 0px #7CACDE;
  box-shadow: 1px 1px 1px #BEE2F9;
  padding: 10px 25px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  border: 2px solid #5198CF;
  background: #1CFFF0;
  background: linear-gradient(top,  #256EB8,  #5D8ECF);
  background: -ms-linear-gradient(top,  #256EB8,  #5D8ECF);
  background: -webkit-gradient(linear, left top, left bottom, from(#256EB8), to(#5D8ECF));
  background: -moz-linear-gradient(top,  #256EB8,  #5D8ECF);
}
.testbutton:hover {
  color: #14396A !important;
  background: #468CCF;
  background: linear-gradient(top,  #468CCF,  #63B8EE);
  background: -ms-linear-gradient(top,  #468CCF,  #63B8EE);
  background: -webkit-gradient(linear, left top, left bottom, from(#468CCF), to(#63B8EE));
  background: -moz-linear-gradient(top,  #468CCF,  #63B8EE);
}